<div class="emotion-picker-menu" data-actor-id="{{actorId}}">
  <div class="emotion-grid">
    {{#each emotions}}
    <div class="emotion-item" data-path="{{this.path}}">
      <img src="{{this.path}}" alt="{{this.name}}">
    </div>
    {{/each}}
  </div>
</div>
