<div class="emotive-message-content">
  <img class="chat-portrait" src="{{portrait}}" alt="{{name}}'s portrait" />
  <div class="message-text {{#if italicize}}emotive-italics{{/if}}">
    <div class="content">{{message}}</div>
  </div>
</div>
