<div class="expressive-actor-select">
  <h2>{{title}}</h2>
  <div class="drag-area" id="drag-area">
    <p>Drag actors here</p>
  </div>
  <button class="refresh-button">Refresh</button>
  <ul class="actor-list">
    {{#each selectedActors}}
      <li class="actor-item" data-actor-id="{{this.id}}">
        {{this.name}}
      </li>
    {{/each}}
  </ul>
</div>
